
.row
  .small-12.columns
    - if flash[:notice]
      .callout{ 'data-closable' => '' }
        = flash[:notice]
        %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
          %span{ 'aria-hidden' => 'true' } &times;
    - if flash[:error]
      .callout.alert{ 'data-closable' => '' }
        = flash[:error]
        %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
          %span{ 'aria-hidden' => 'true' } &times;
    - if flash[:alert] # cancan does this
      .callout.alert{ 'data-closable' => '' }
        = flash[:alert]
        %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
          %span{ 'aria-hidden' => 'true' } &times;

